.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
.game-info {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.move-button {
  width: 200px;
  background-color: #27ae60;
  border-width: 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

.border-wrapper {
  border: 1px solid rgb(255, 255, 255, 0.1);
  box-shadow: rgb(0, 0, 0, 0.19) 0px 10px 20px;
  border-radius: 9px;
  overflow: hidden;
}

.square-button {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 36px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}
